.div__project {
  display: inline-block;
  margin: 2em 1em;
  width: 300px;
  text-align: left;
  border-radius: 5px;
  border: solid 1px gray;
  padding: 5px 0px 0px 0px;
  background:white;

  div {
    display: flex;
    justify-content: space-between;
    h3 {
      display: inline-block;
      margin: 5px;
    }
  }
}
.deleteBtn {
  height: 25px;
  margin: 2px;
}
