
.div__project {
  display: inline-block;
  margin: 2em 1em;
  width: 300px;
  text-align: left;
  border: solid 1px white;
  div{ 
    display:flex;
    justify-content: space-between;
    h3 {
      display:inline-block
    }
  }
}
.deleteBtn {
  height:25px;
}