* {
  // border: solid 1px red;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.App {
  text-align: center;
  height:100vh;
  background-color: #444444;
  background-image: linear-gradient(300deg, #8e8e8e 0%, #eeeeee 74%);
}

nav {
  height: 5vh;
  display:flex;
  justify-content: space-between;
  padding: 10px;
}

main {
  display:flex;
  justify-content: space-between;
  padding:20px;
  border-radius: 15px;
  border:solid 1px black;
  margin:2vh 5vw;

}
