* {
  // border: solid 1px red;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.App {
  text-align: center;
}

nav {
  height: 5vh;
  display:flex;
  justify-content: space-between;
  padding: 10px;
}

main {
  display:flex;
  justify-content: space-between;
  padding:20px;
  border-radius: 15px;
  border:solid 1px black;
  margin:5vh 5vw;


}
